* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Anton', sans-serif;
    margin-top: 80px;
    background-size: cover;
}

:root {
    --color-primary: #bf0b0b;
    --color-secondary: #b4b4b4;
    --color-background: #d4d4dc;
    --color-text: #ffffff;
    --color-accent: #5a5557;
    --color-subtext: #1b1919;
}

.privacidade-text {
    color: var(--color-subtext);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9rem;
    margin: 0.5rem 0;
}

